html {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  
  .res-table-column {
    text-align: center;
  
  }
  
  td {
    padding: 5px 5px 5px 5px;
  
  }
  
  table {
    margin-top: 30px;
    width: 100%;
  }
  
  .admin {
    margin-top: 20px;
  }